#wrap {width:100%; max-width:1280px;
  height:auto; margin:auto; padding-top:20px; box-sizing: border-box;
}
  
/* #headBox ============================ */

#headBox { 
width:1280px; height:110px;
margin:auto;  margin-bottom:10px;
background-color: #fff; }

.container {width:70%; height:100%;
margin:auto;  }

h1 { float:left;
width:130px; height:90px; margin-right:40px;
background-image:url("../../img/cl-logo.png");
background-repeat: no-repeat;
background-size:cover; }
h1 a {display: block; width:100%; height:100%;}
.unb {width:65%; height:50px; margin: auto;}
.searchArea {
float:left;
width:70%; height: 100%; 
margin:auto; padding:10px; box-sizing: border-box;
/* background-color:#adf; */
}
form{ width:100%; height:100%; 
margin:0; padding:0;
border:1px solid #add;
border-radius: 10px; }

.icon_box {float:left; width:auto; height:auto;
margin-right:5px; padding:5px;}

input {padding:5px;}
.unbArea {
float:left; margin-left:10px;
width:25%; height:100%;
}

.unbArea li { float: left; width:20%; height:70%; 
margin-left:5%; margin-top:15px; }
.unbArea li a {display: block; width:100%; height:100%;}


.gnb {width:70%; height:50px;
margin:auto;}

.gnb ul { width:90%; height:100%; margin:auto;
padding:10px; box-sizing: border-box;}

.gnb ul li {float:left; width:170px;  height:100%; margin-left:10px;}
.gnb ul li a{ display: block; width:100%; height:100%;
font-size:24px;text-transform: uppercase;  } 


/* #viewBox ============================= */
#viewBox {position: relative; 
width:100%; height:500px; margin-top:50px;
/* background-color:#fba; */
}
.view_area {
position:absolute; bottom:0; left:0;right:0;
width:100%;height:100%;
padding-top:20px; box-sizing: border-box;
/*background-color:#faf;
background-image: url("../../img/pj_001/Group-1.png");
margin:auto;
background-repeat: no-repeat;
background-position: 50% 50%;
background-size:100%;} */
}
.view_letter {
/* display:none; */
/* opacity:0; */
position:absolute;
top:0; left:0; right:0; margin:auto;
width:920px; height:400px;
background-image:url("../../img/pj_001/new_2020_0515.png");
background-repeat: no-repeat;
background-position:50% 50%;
background-size:100%;
}

/* =--------======================*/

#conBox { width:100%; height:auto;
margin-bottom:150px;}

.part2 {
width: 100%; max-width:75rem; height:auto;
margin:auto;
margin-top: 5rem; padding: 2rem; box-sizing: border-box;
background-color: #fdd;
}

.part2 ul {
width: 100%; height: auto;
}

.part2 li {
width: 100%; height:30rem; 
margin-bottom: 10rem;
padding:2rem; box-sizing: border-box;
/* border:1px solid #5c5; */
border-left:0;
border-right:0;
}


.img_box { float:right;
width:40%;height:100%;
position: relative; }

.position_img {
position: absolute;
width:450px; height:450px;
background-repeat: no-repeat;
background-position: 0 0;
background-size: 80%;
/* top:50%; left:-20%;  */
}


.part2 li:nth-child(2n-1) .img_box{ float:left;}
.part2 li:nth-child(2n-1) .cl_narr{ float:left;}

.part2 li:nth-child(1) .img_box .position_img{
background-image: url("../../img/pj_001/fruit_002.png");}
.part2 li:nth-child(2) .img_box .position_img{
background-image: url("../../img/pj_001/fruit_010.png");}
.part2 li:nth-child(3) .img_box .position_img{
background-image: url("../../img/pj_001/fruit_011.png");}

.cl_narr {float:left;
width:21.25rem; height:31.25rem;
padding:15px; box-sizing: border-box;
background-color:#ddd;}

.cl_narr dt {
width:100%; height:50px;
padding-bottom:15px; 
font-size:30px; font-weight: 700;
}
.cl_narr dd {
  width:100%; height:300px; 
  line-height: 1.5;
}
/* #footBox ==================== */

#footBox {width:100%; max-width:1280px; height:300px;
  margin:auto; 
  background-color:#ddd;}